<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


    <context:component-scan base-package="ru.stoliarenkoas.tm.webserver">
        <context:include-filter type="regex" expression=".*Controller"/>
        <context:include-filter type="regex" expression=".*Filter"/>
    </context:component-scan>
    <mvc:annotation-driven/>

    <bean name="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>
    <jaxrs:server id="userService" address="/rs/user"
                  beanNames="userRestService">
        <jaxrs:providers><ref bean="jsonProvider"/></jaxrs:providers>
    </jaxrs:server>
    <bean id="userRestService" class="ru.stoliarenkoas.tm.webserver.webservice.rest.UserRestService" scope="prototype"/>
    <jaxrs:server id="projectService" address="/rs/project"
                  beanNames="projectRestService">
        <jaxrs:providers><ref bean="jsonProvider"/></jaxrs:providers>
    </jaxrs:server>
    <bean id="projectRestService" class="ru.stoliarenkoas.tm.webserver.webservice.rest.ProjectRestService" scope="prototype"/>
    <jaxrs:server id="taskService" address="/rs/task"
                  beanNames="taskRestService">
        <jaxrs:providers><ref bean="jsonProvider"/></jaxrs:providers>
    </jaxrs:server>
    <bean id="taskRestService" class="ru.stoliarenkoas.tm.webserver.webservice.rest.TaskRestService" scope="prototype"/>

    <jaxws:endpoint
            id="userEndpoint"
            implementor="ru.stoliarenkoas.tm.webserver.webservice.soap.UserEndpointImpl"
            address="/UserService"/>
    <jaxws:endpoint
            id="projectEndpoint"
            implementor="ru.stoliarenkoas.tm.webserver.webservice.soap.ProjectEndpointImpl"
            address="/ProjectService"/>
    <jaxws:endpoint
            id="taskEndpoint"
            implementor="ru.stoliarenkoas.tm.webserver.webservice.soap.TaskEndpointImpl"
            address="/TaskService"/>

</beans>